.under-margin {
    margin-bottom: 3%;
}

.inner-text{
    color: #2b2a2a;
}
.nav-bar {
    background-color: white;
}

.custom {
    position: sticky;
    top:0;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    z-index: 100;
}

